/*summary*/

/*fonts*/

@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/*colors
bleu                #0065FC
bleu plus clair     #DEEBFF
fond gris           #F2F2F2 */

/* General */

* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

.stars {
  display: flex;
}

.blue {
  color: #0065fc;
}

.grey {
  color: #f2f2f2;
}
.scale:hover {
  transform: scale(1.08);
}

/*propriété CSS sur le body*/
body {
  max-width: 1430px;
  margin: auto;
}

/*VERSION MOBILE*/

/*header*/

header {
  position: relative;
}

#logoReservia {
  margin: 20px 0 25px 20px;
}

#signUp {
  color: #0065fc;
  position: absolute;
  top: 20px;
  right: 20px;
}

ul {
  display: flex;
  width: 100%;
}

ul li {
  width: 50%;
  text-align: center;
  padding-bottom: 15px;
}

ul li {
  border-bottom: solid 5px #f2f2f2;
}

ul li:hover {
  border-bottom: solid #0065fc 5px;
}

ul li a:hover {
  color: #0065fc;
}

/*section recherche choix de ville*/

#search {
  padding: 30px 20px 20px 20px;
}

/*Titre et paragraphe*/

#search h3 {
  padding-bottom: 10px;
}

#search div:nth-child(1) p {
  padding-bottom: 10px;
}

/*barre de recherche*/

#search-input {
  padding: 10px 0;
  display: flex;
}

#search-input input {
  outline: none;
}

#map-marker {
  background-color: #f2f2f2;
  width: 50px;
  height: 50px;
  position: relative;
  border-radius: 15px 0 0 15px;
}

#map-marker::before {
  position: absolute;
  left: 19px;
  top: 17px;
}

#cityInput {
  border-left: none;
  border-right: none;
  border-top: 1px solid #f2f2f2;
  border-bottom: 1px solid #f2f2f2;
  width: 180px;
  padding-left: 8px;
  font-size: medium;
}

#cityInput::placeholder {
  font-weight: bold;
  color: black;
  opacity: 1;
}

/*bouton rechercher*/

#searchButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border: none;
  background-color: #0065fc;
  border-radius: 15px;
  transform: translateX(-25px);
}

.fa-search {
  color: white;
}

#searchText {
  display: none;
}

/*partie filtres*/

/*titres*/
#filter h4 {
  padding: 10px 0 15px 0;
}

.choice a {
  display: flex;
}

.choice p:hover {
  color: #0065fc;
  background-color: #deebff;
}

.choice a p {
  margin: auto 0;
  align-items: center;
  justify-content: flex-start;
  border: solid #f2f2f2 3.5px;
  padding: 12.5px 15px 12.5px 35px;
  border-left: none;
  transform: translateX(-25px);
  border-radius: 0 25px 25px 0;
  margin-bottom: 10px;
  z-index: 0;
  font-weight: bold;
  height: 50px;
}

.icone {
  color: #0065fc;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  background-color: #deebff;
  display: flex;
  z-index: 1;
}

.icone::before {
  align-items: center;
  margin: auto;
}

#options {
  display: flex;
  flex-wrap: wrap;
}

/*icone i information*/

#info {
  display: flex;
  margin-top: 15px;
}

#info i {
  color: #0065fc;
  width: 25px;
  height: 25px;
  border: #f2f2f2 solid 1px;
  border-radius: 12.5px;
}

#info div {
  position: relative;
}

#info i::before {
  font-size: 12px;
  left: 10.25px;
  top: 6.5px;
  position: absolute;
}

#info p {
  padding: 5px 0 0 10px;
}

/*SECTION HEBERGEMENTS*/

#hebergements {
  display: flex;
  flex-direction: column-reverse;
}

#populaires {
  background-color: #f2f2f2;
  padding: 30px 20px 30px 20px;
}

/*titre les plus populaires*/

#populaires-titre {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  width: 100%;
}

#populaires div i {
  display: flex;
  align-items: center;
}

/*articles les plus populaires*/

#populaires article {
  background-color: white;
  border-radius: 25px;
  max-width: 400px;
  margin: 7.5px auto;
}

#populaires article a {
  display: flex;
  width: 100%;
}

/*images les plus populaires */

.populaires-img {
  width: 40%;
  height: 150px;
}

.populaires-img img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 25px 0 0 25px;
  padding: 5px 0 5px 5px;
}

/* texte les plus populaires */
.populaires-texte {
  width: 60%;
  height: 150px;
  padding: 15px 15px 5px 15px;
  display: grid;
}

/* hebergement marseille */

#block-hebergements {
  background-color: #f2f2f281;
  padding: 30px 20px 30px 20px;
}

#block-hebergements article {
  background-color: white;
  max-width: 400px;
  margin: auto;
}

/*titre de la partie hebergements */

#titre-hebergements {
  margin: 20px 0;
  width: 100%;
}

/* article hebergements */

#marseille-hebergements article {
  border-radius: 25px;
  margin: auto;
}

#marseille-hebergements article a {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 10px;
}

/* images hebergements */

.hebergements-img {
  width: 100%;
  height: 150px;
}

.hebergements-img img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 25px;
  padding: 5px 5px 0 5px;
}

/* texte article hebergements */

.hebergements-texte {
  padding: 10px 15px 10px 15px;
}
.hebergements-texte h4,
.hebergements-texte p {
  padding-bottom: 10px;
}

/* lien afficher plus */

#lien-afficher-plus {
  font-weight: bold;
  padding: 20px 0 20px 0;
}

/* SECTION ACTIVITES */

#activites {
  background-color: #f2f2f281;
  padding: 30px 20px 30px 20px;
}

/*titre activites*/

#titre-section-activites {
  margin: 20px 0;
  width: 100%;
}

/*articles activités*/

#marseille-activites article {
  border-radius: 25px;
  background-color: white;
  max-width: 400px;
  margin: auto;
}

#marseille-activites article a {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 10px;
}

/*images activites*/

.img-activites {
  width: 100%;
  height: 150px;
}

.img-activites img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 25px 25px 0 0;
}

/*texte activites*/

.texte-activites {
  padding: 15px 0 15px 15px;
}

/* FOOTER */

footer {
  background-color: #f2f2f2;
  padding: 30px 20px 30px 20px;
}

footer div {
  padding-bottom: 30px;
}

footer h4 {
  padding: 20px 0 20px 0;
}

/* MEDIA QUERIES */

/*Version tablette*/

@media screen and (min-width: 768px) and (max-width: 1229px) {
  /*section search*/
  #options {
    display: flex;
    flex-wrap: wrap;
  }

  .choice {
    padding-right: 0;
  }

  /*sections hebergements */

  #hebergements {
    display: flex;
    flex-direction: column;
  }

  #marseille-hebergements,
  #marseille-populaires {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
  }

  #marseille-hebergements article {
    margin-bottom: 25px;
  }

  #populaires article {
    margin-bottom: 15px;
  }
  #marseille-hebergements article a,
  #populaires article a {
    width: 300px;
  }

  /*sections activites*/

  #activites {
    display: flex;
    flex-direction: column;
  }

  #marseille-activites {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  #marseille-activites article {
    margin-bottom: 25px;
  }
  #marseille-activites article a {
    width: 300px;
  }
}

/*footer version tablette*/

@media screen and (min-width: 1000px) {
  footer {
    display: flex;
    justify-content: space-between;
    padding: 0 10%;
  }
}

/*version desktop*/

@media screen and (min-width: 123px) {
  header,
  section {
    padding: 0 2%;
  }

  body {
    font-size: 1.2rem;
  }

  /*header*/

  header {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  /*logo*/

  #logoReservia {
    width: 30%;
  }

  /*menu navigation*/

  nav {
    width: 40%;
    padding-top: 0;
  }

  .menu {
    display: flex;
    flex-direction: row;
    height: 100%;
  }

  .menu ul {
    height: 100%;
    display: flex;
  }

  .menu li {
    border-bottom: none;
    padding: 1rem 0;
    border-top: transparent 5px solid;
    display: table;
  }

  .menu li:hover {
    border-bottom: none;
    border-top: solid 5px #0065fc;
  }
  .menu li a {
    width: 35%;
    display: table-cell;
    vertical-align: middle;
  }

  body header nav div ul li:nth-child(1):hover {
    border-bottom: none;
    border-top: solid 5px #0065fc;
  }

  /*lien s'inscrire*/

  .menu div {
    display: table;
    width: 30%;
  }
  #signUp {
    position: inherit;
    text-align: center;
    padding: 1rem 0;
    border-top: transparent 5px solid;
    display: table-cell;
    vertical-align: middle;
  }

  /*SECTION SEARCH*/

  /*barre de recherche ville*/

  #search {
    padding: 0 2% 2% 2%;
  }

  #searchButton {
    width: 120px;
    border-radius: 0 10px 10px 0;
    transform: inherit;
  }

  #searchButton i {
    display: none;
  }

  #searchText {
    display: flex;
    color: white;
    justify-content: center;
    font-size: 15px;
  }

  #cityInput {
    width: 240px;
  }

  /*filtres*/

  #filter {
    display: flex;
    margin: 2% 0;
  }

  #filter h4 {
    height: 50px;
    padding: 12.5px 35px 12.5px 0;
  }

  #filterTitle {
    display: table;
  }

  #filter h4 {
    display: table-cell;
    vertical-align: middle;
  }

  /*SECTION HEBERGEMENTS*/

  #hebergements {
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
  }

  /*hebergements*/

  #block-hebergements {
    width: 66%;
    border-radius: 25px;
    padding: 2%;
  }

  #marseille-hebergements {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50% 50%;
  }

  #marseille-hebergements article {
    width: 90%;
    margin-bottom: 8%;
  }

  .hebergements-texte h4 {
    height: 60px;
  }

  @media screen and (min-width: 1460px) {
    .hebergements-texte h4 {
      height: 40px;
    }
  }

  /*populaires*/

  #populaires {
    width: 32%;
    border-radius: 25px;
    padding: 2%;
  }

  #marseille-populaires {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    padding-bottom: 15%;
  }

  #marseille-populaires article,
  #marseille-populaires a {
    height: 200px;
  }

  .populaires-img,
  .populaires-img img,
  .populaires-texte {
    height: 200px;
  }

  .populaires-texte {
    grid-template-rows: 45% 35% 20%;
  }

  .stars {
    align-items: flex-end;
    padding-bottom: 10px;
  }
  .fa-chart-line {
    font-size: 1.5em;
  }

  /*ACTIVITES*/

  #activites {
    background-color: white;
    padding: 2%;
  }

  #marseille-activites {
    width: 100%;
    max-height: 600px;
    display: grid;
    grid-template-columns: 23% 23% 23% 23%;
    justify-content: space-between;
    grid-template-rows: 1fr 1fr 35px 1fr 35px 1fr 1fr;
    grid-template-areas:
      "a1 a2 a4 a5"
      "a1 a2 a4 a5"
      "a1 a2 a4  ."
      "a1 a2 a4 a6"
      "a1  . a4 a6"
      "a1 a3 a4 a6"
      "a1 a3 a4 a6";
  }

  #marseille-activites article {
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
  }

  .img-activites {
    height: 100%;
    border: none;
  }

  .img-activites img {
    height: 95%;
  }

  .texte-activites {
    height: 80px;
    z-index: 1;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: white;
    width: 100%;
    border: 2px solid #f2f2f2;
    border-top: none;
    border-radius: 0 0 25px 25px;
    box-shadow: #f2f2f2 -1px 1px 10px;
    box-shadow: 1px 0 10px #f2f2f2;
  }

  .a1 {
    grid-area: a1;
  }

  .a2 {
    grid-area: a2;
  }

  .a3 {
    grid-area: a3;
  }

  .a4 {
    grid-area: a4;
  }

  .a5 {
    grid-area: a5;
  }

  .a6 {
    grid-area: a6;
  }

  /*FOOTER*/

  footer div {
    padding-top: 25px;
  }
}
